@CHARSET "UTF-8";

body {
	font-family: sans-serif;
	margin:0px;
}

#header {
	width:85%;
	height:40px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	border-bottom: 1px solid #DFE2DB;
}

#header h1 {
	margin:0px;
	float:left;
}

#navigation {
	width:85%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
}

.content {
	width:85%;
	margin-left:auto;
	margin-right:auto;
}

table {
	width:100%;
}


th {
	background-color: #585858;
	height:25px;
}

tr {

}

td {
	/*background-color: #DFE2DB;*/
	height:30px;
}

.myOdd {
	background-color: yellow;	
}

.myEven {
	background-color: green;
}

/* Create Customer Page table styles... */

table.create-form-table {
	width:700px;
}

/*align all table cells to right aligned*/
table.create-form-table tr td {
	text-align:right;
	width:250px;
}

/*styling for input textbox*/
table.create-form-table tr td input[type="text"] {
	
	width:200px;
}

.error {
	text-align:left;
	color: #ff0000;
}
